body {
  margin: 0;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.primary {
  color: white;
  background: #036B52;
}

.secundary {
  color: white;
  background: #2FC18C;
}

.terciary {
  color: white;
  background: #421981;
}

button {
  border: none;
  margin: 5px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  width: 50%;
  min-height: 15%;
}

button:hover {
  background: #05231c;
}

.disabilitado {
  background-color: grey;
}

.disabilitado:hover {
  background-color: gray;
}

.product-card {
  border: 2px solid  #2FC18C;
  border-radius: 3px;
  margin: 3px;
}

.add-button-products {
  width: 40%;
}

.total-price {
  border-radius: 5px;
  color: white;
  font-size: x-large;
  position: sticky;
  bottom: 0;
}

table {
  border: 1px solid gray;
  align-items: center;
  text-align: center;
}

.purple {
  color: white;
  background: #421981;
}

.blue {
  color: white;
  background: #056CF9;
}

.order-card {
  border: 2px solid rgb(135, 135, 135);
  margin: 3px;
}

.orderId {
  border: 2px solid rgb(135, 135, 135);
  margin: 3px;
}

.orderInfos{
  border: 2px solid rgb(135, 135, 135);
  margin: 3px;
}

.status-title {
  border: 2px solid rgb(219, 24, 24);
  margin: 3px;
}

.navbar {
  width: 100vw;
  position: sticky;
  height: 5vh;
  margin-top: 0;
  top: 0;
}

.navbar button {
  width: 30vw;
  height: 5vh;
  margin: 0;
  border-radius: 0;
}

.navbar h1 {
  height: 5vh;
  width: 20vw;
  text-align: center;
  font-size: xx-large;
}